* {
    box-sizing: border-box;
}

body{
    font-family : Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ccc;
}

.contact-form {
    width: 250px; 
}

input, textarea{
    width: 100%;
    background-color: lightblue;
    border: none;
    padding: 0.5rem;
}

input:focus,
textarea:focus {
    outline: none;
}

.container{
    background-color: steelblue;
    padding: 2rem;
    border-radius: 10px;
    overflow: none;
    display: flex;
}

.submit-btn{
    background-color: lightslategray;
    border: none;
    width: 100%;
    padding: 1rem;
    margin-top: rem;
    color: white;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: slategray;
}